/* apply a natural box layout model to all elements, but allowing components to change */
html, * {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* Fixing Position applied via JS */
.fixed-position {
  position: fixed;
}

/* Clearfix Classes - Keeps floated items in container, which makes styling easier */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

body {
  margin: 0;
  padding: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}