.answer-survey-content, .chart-container {
    margin: 2rem auto;
    width: 97.5%;
    max-width: 800px;

    @include desktop {
      margin: 4rem 44px;
    }
}
.chart-container {
    max-width: 1000px;
}

h2.interior {
    font-size: 28px;
}

.chart-container h2 {
    margin-bottom: 2rem;
}

.answer-options-list {
    margin: 2rem 0 3rem;
    list-style-type: none;
}

.answer-option-wrapper {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    margin: .75rem 0;
}

.answer-option-wrapper li {
    font-size: 18px;
    line-height: 1.5;
}