.answer-survey-content {
    margin: 4rem 44px;
    max-width: 800px;
}

.answer-survey-content h2 {
    font-size: 28px;
}

.answer-options-list {
    margin: 2rem 0 3rem;
    list-style-type: none;
}

.answer-option-wrapper {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    margin: .75rem 0;
}

.answer-option-wrapper li {
    font-size: 18px;
    line-height: 1.5;
}