header {
    background-color: $white;
    border-bottom: 1px solid $black;
    position: relative;
    height: 4.25rem;
}

.logo-title-container {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.logo-title-flex-wrapper {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
}

.logo-title-container img {
    display: inline-block;
}

.login-signup-ui {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
}