.question-cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: masonry;
    gap: 1rem;
}

.question-card-wrapper {
    background-color: $white;
    border: 1px solid $black;
    border-radius: 5px;
} 