.survey-form-content {
    margin: 2rem 44px;
}

.enter-question-fieldset {
    width: 600px;
}

.survey-form-content textarea {
    resize: none;
    height: 160px;
    width: 100%;
    font-size: 20px;
    line-height: 1.5;
    padding: 1rem;
}

.char-count-label {
    text-align: right;
    margin-top: 0;
    line-height: .5;
    font-size: 14px;
    color: $grey-lt;
}

.submit-survey-button {
    margin-top: 2rem;
}