.survey-form-content {
    margin: 2rem auto;
    width: 97.5%;

    @include desktop {
      margin: 2rem 44px;
    }
}

.enter-question-fieldset {
    width: 95%;
    max-width: 600px;
}

.enter-question-textarea{
// .survey-form-content textarea {
    resize: none;
    height: 160px;
    width: 100%;
    font-size: 20px;
    line-height: 1.5;
    padding: 1rem;
}

.required-answers-container {
    border-bottom: 1px solid black;
    padding: 0.5rem 0 1rem;
}

.optional-answers-container {
    padding: 1rem 0 0;
}

.answer-fieldset {
    width: 80%;
    margin-bottom: 1rem;
}

.answer-fieldset label {
    display: block;
    padding-bottom: .25rem;
}

.required {
    font-weight: $heavy;
    color: $red;
}

.enter-answer-input{
    resize: none;
    height: 40px;
    width: 100%;
    font-size: 18px;
    line-height: 1;
    padding-left: 1rem;
    padding-top: .6rem;
    padding-bottom: .5rem;
}

.char-count-label {
    text-align: right;
    margin-top: 0;
    line-height: .5;
    font-size: 14px;
    color: $grey-lt;
}

.public-option-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 2rem;
}

.public-option-container label {
    font-size: 18px;
    line-height: 1.5;
}


.submit-survey-button {
    margin-top: 2rem;
}